<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795904691120-mqogspuje5c9gfl77ah2s0ug8rr5ftuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795904691120-mqogspuje5c9gfl77ah2s0ug8rr5ftuh</string>
	<key>API_KEY</key>
	<string>AIzaSyDMfbyuiHjg02dDTq6bmANfE4slu0PlrCk</string>
	<key>GCM_SENDER_ID</key>
	<string>795904691120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pomodoro</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-e05a2</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-e05a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795904691120:ios:d6eaf35c9d169f0ce7a475</string>
</dict>
</plist>